*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --main-bg: #282a31;
  --secondary-bg: #14151a;
  --tertiary-bg: #373941;
  --text-body: #d4d4d6;
  --link: #de7826;
  --white: 255, 255, 255;
  --black: 0, 0, 0;
  --error: #e78585;

  @media (prefers-color-scheme: light) {
    --main-bg: #e6dfd9;
    --secondary-bg: #f1f1f1;
    --tertiary-bg: #f0ece9;
    --text-body: #000000;
    --link: #a01818;
    --error: #c70000;
  }

  /* Spacing */
  --base-spacing: 0.8rem;
  --xs-spacing: calc(var(--base-spacing) * 2);
  --sm-spacing: calc(var(--base-spacing) * 3);

  /* Borders and Outlines */
  --border-weight: 0.2rem;

  /* Root Page Styles */
  font-family: 'Sen', Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-body);
  background-color: var(--main-bg);
}

html {
  font-size: 62.5%;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95vh;
}

body {
  margin: 0;
  font-size: 1.6rem;
  max-width: 170rem;
  margin-inline: auto;
  padding: var(--base-spacing) var(--sm-spacing);
}

body.modal-open,
html.modal-open {
  height: 100vh;
  overflow: hidden;
  overscroll-behavior: contain;
}

main {
  width: 100%;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: var(--base-spacing) 0;
  font-weight: 600;
}

h1 {
  font-size: 3.4rem;
}
h2 {
  font-size: 2.2rem;
}
h3 {
  font-size: 1.8rem;
}
p {
  margin-top: 0;
}

.logo-text,
.logo-byline {
  font-size: 5.1rem;
  line-height: 1.1;
  margin: 0;
  font-weight: 600;
}

.logo-byline {
  font-size: 2.2rem;
}

a {
  color: var(--link);
  text-decoration: underline;

  &:hover {
    color: var(--text-body);
  }
}

button {
  font-family: inherit;
  font-size: 1.8rem;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 0;
    margin: 0;
  }
}

.footer-text {
  opacity: 0.8;
  text-align: center;
  margin: var(--base-spacing) 0 var(--sm-spacing);
  font-size: 1.4rem;
}

/* Grid */

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 33.333%;
}
.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
  padding: var(--base-spacing) calc(var(--base-spacing) * 1.5);
}

@media (max-width: 992px) {
  .grid-sizer,
  .grid-item {
    width: 50%;
  }
  .grid-item img {
    padding: var(--base-spacing) calc(var(--base-spacing) * 1.25);
  }
}

/* Content */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--base-spacing);

  .nav-brand {
    display: flex;
    align-items: center;

    h2 {
      margin: 0 0 var(--base-spacing);
    }

    .nav-logo {
      width: 10rem;
      display: inline-block;
      margin-top: var(--base-spacing);
      margin-right: var(--xs-spacing);
    }
  }
}

*:focus-visible {
  outline: var(--border-weight) dotted var(--link);
  outline-offset: var(--border-weight);
}

.nav-tabs {
  display: flex;

  li {
    width: 50%;
  }

  .tab-control {
    border: none;
    border-bottom: var(--border-weight) solid transparent;
    color: var(--text-body);
    cursor: pointer;
    font-weight: 600;
    padding: var(--base-spacing);
    width: 100%;
    opacity: 0.8;
    background-color: transparent;

    &.active {
      border-bottom: var(--border-weight) solid var(--link);
      opacity: 1;
    }

    &:hover:not(.active) {
      border-bottom: var(--border-weight) solid var(--text-body);
      color: var(--link);
      opacity: 1;
    }
  }
}

.text-content {
  padding: var(--xs-spacing);
  margin-inline: auto;
  max-width: 100rem;

  img {
    width: 100%;
  }

  & > div {
    display: flex;
    gap: var(--sm-spacing);
    align-items: baseline;
    justify-content: space-between;

    & > * {
      width: 48%;
    }
  }
}

#aboutTab .text-content > div {
  align-items: flex-start;
}

details,
.tab-content {
  padding: var(--base-spacing);
}

.btn-modal {
  &,
  img {
    width: 100%;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.form-error {
  color: var(--error);
  font-weight: 500;

  &:has(span) {
    margin-top: var(--base-spacing);
  }
}

p:has(.form-error) {
  margin: 0;
}

/* Responsive */

@media (max-width: 992px) {
  .navbar .nav-brand {
    .logo-text {
      font-size: 4rem;
    }
    .logo-byline {
      font-size: 1.8rem;
    }
    .nav-logo {
      width: 7rem;
    }
  }

  body {
    padding-inline: var(--base-spacing);
  }
}

@media (max-width: 768px) {
  /* .navbar, */
  .nav-tabs {
    flex-direction: column;
    /* align-items: flex-start; */
  }

  .navbar {
    padding: var(--base-spacing);
  }

  .nav-tabs {
    margin: var(--base-spacing) 0;
    padding: var(--sm-spacing);
    background-color: var(--tertiary-bg);
    position: absolute;
    right: var(--base-spacing);
    z-index: 100;
    transition: all 0.3s ease;
    box-shadow: 0 0 1rem rgba(var(--black), 0.1);

    .tab-control {
      text-align: right;
      border-bottom: none;
      border-right: var(--border-weight) solid transparent;

      &:not(:last-of-type) {
        margin-bottom: var(--base-spacing);
      }

      &.active {
        border-bottom: none;
        border-right: var(--border-weight) solid var(--link);
      }

      &:hover:not(.active) {
        border-bottom: none;
        border-right: var(--border-weight) solid var(--text-body);
      }
    }
  }

  .text-content {
    max-width: 60rem;

    & > div {
      flex-direction: column;

      & > * {
        width: 100%;
      }
    }
  }
}

@media (max-width: 550px) {
  .navbar .nav-brand {
    .logo-text {
      font-size: 3.5rem;
    }
    .logo-byline {
      font-size: 1.6rem;
    }
    .nav-logo {
      width: 6rem;
    }
  }

  body {
    padding-inline: 0;
  }
}

@media (max-width: 385px) {
  .navbar .nav-brand {
    .logo-text {
      font-size: 3.2rem;
    }
    .logo-byline {
      font-size: 1.4rem;
    }
    .nav-logo {
      width: 6rem;
      margin-right: var(--base-spacing);
    }
  }
}

.grecaptcha-badge {
  visibility: hidden;
  cursor: none;
}

body:has(#tab-Contact[aria-current='true']) {
  .grecaptcha-badge {
    visibility: visible;
    cursor: auto;
  }
}
