/* Core */
*,
*:before,
*:after { box-sizing: border-box; }

:root {
  font-family: 'Sen', Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;

  /* Colors */
  --main-bg: #282a31;
  --secondary-bg: #14151a;
  --tertiary-bg: #202229;
  --text-body: #d4d4d6;
  --link: #de7826;
  --white: 255, 255, 255;
  --black: 0, 0, 0;

  @media (prefers-color-scheme: light) {
    --main-bg: #ffffff;
    --secondary-bg: #f1f1f1;
    --tertiary-bg: #fbfbfb;
    --text-body: #000000;
    --link: #a01818;
  }

  color: var(--text-body);
  background-color: var(--main-bg);

  /* Spacing */
  --base-spacing: 0.8rem;
  --xs-spacing: calc(var(--base-spacing) * 2);

  /* Grid */
  /* --columns: 1; */
  /* --rows: 6; */
}

html { font-size: 62.5%; }
body { margin: 0; }

.container {
  /* display: flex;
  place-items: center;
  min-height: 100vh; */
  font-size: 1.6rem;
}

/* Typography */
h1 {
  font-size: 5.1rem;
  line-height: 1.1;
  margin: var(--base-spacing) 0 0;
  font-weight: 400;
}

h2 { font-size: 2.2rem; font-weight: 500;}
h3 { font-size: 1.8rem; font-weight: 600;}

ul {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    padding: 0;
    margin: 0;

  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--base-spacing);

  .nav-brand {
    display: flex;
    align-items: center;

    h2 {
      margin: 0 0 var(--base-spacing) ;
    }

    .nav-logo {
      width: 12rem;
      display: inline-block;
      margin-top: var(--base-spacing);
      margin-right: var(--xs-spacing);
    }
  }
}

a {
  color: var(--link);
  text-decoration: underline;

  &:hover { color: var(--text-body); }
}

button {
  font-family: inherit;
  font-size: inherit;
  color: rgba(var(--white));
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

*:focus-visible {
  outline: .2rem dotted var(--link);
  outline-offset: 0.2rem;
}

main {
  width: 100%;
}

/* Main Content */
.nav-tabs {
  display: flex;

  li { width: 50%; }

  .tab-control {
    border: none;
    border-bottom: 0.2rem solid transparent;
    color: var(--text-body);
    cursor: pointer;
    font-weight: 600;
    padding: var(--base-spacing);
    width: 100%;
    opacity: 0.8;
    background-color: transparent;

    &.active {
      border-bottom: 0.2rem solid var(--link);
      opacity: 1;
    }
    
    &:hover:not(.active) {
      border-bottom: 0.2rem solid var(--text-body);
      color: var(--link);
      opacity: 1;
    }
  }
}

.text-content {
  padding: var(--xs-spacing);
  margin-inline: auto;
  max-width: 100rem;
  display: flex;
  /* justify-content: center; */
  & > * { width: 45%;}
  img {width: 100%;}
}

details,
.tab-content { padding: var(--base-spacing); }

.btn-modal {

  &,
  img { width: 100%;}
}

/* -- grid styles -- */

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
  padding: 2rem
}

@media (max-width: 991.98px) {
  #artTab .artwork div { padding-left: .5rem; }
  .grid-sizer,
  .grid-item {
    width: 50%;
  }

  .grid-item img {
    padding: 1rem
  }
}